.wrapper {
  max-width: 850px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #141414;
}
header .ant-page-header-heading .ant-page-header-heading-title,
header .ant-page-header-heading .ant-page-header-heading-left .ant-avatar {
  width: 30px;
  height: 30px;
  border-radius: 0;
}
header .ant-page-header-heading .ant-page-header-heading-sub-title {
  color: white;
}
