* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
}
.wrapper {
  display: grid;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5";
  justify-items: center;
  row-gap: 10px;
  margin: 10px 0;
}
.wrapper .card {
  width: 320px;
  background-color: bisque;
  box-shadow: 7px 14px 25px -11px hsl(0, 0%, 78%);
  padding: 1.8em 2.5em;
  border-radius: 10px;
}
.wrapper .card .quote h2 {
  margin-bottom: 0.5em;
}
.wrapper .card1 {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-color: hsl(263, 55%, 52%);
  background-position-x: 94%;
}
.wrapper .card .user {
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
}
.wrapper .card .user img {
  border-radius: 50%;
  margin-right: 1em;
  width: 45px;
  height: 45px;
}
.wrapper .card .user span {
  opacity: 50%;
}
.wrapper .card .quote {
  line-height: 1.3;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.wrapper .card .message {
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  opacity: 70%;
}
.wrapper .card2 {
  background-color: hsl(217, 19%, 35%);
}
.wrapper .card3 {
  background-color: hsl(0, 0%, 100%);
}
.wrapper .card3 .quote,
.wrapper .card3 .user,
.wrapper .card3 .message {
  color: hsl(217, 19%, 35%);
}
.wrapper .card4 {
  background-color: hsl(0, 0%, 100%);
}
.wrapper .card4 .quote,
.wrapper .card4 .user,
.wrapper .card4 .message {
  color: hsl(219, 29%, 14%);
}
.wrapper .card5 {
  background-color: hsl(219, 29%, 14%);
}
.wrapper .card5 .user,
.wrapper .card5 .quote,
.wrapper .card5 .message {
  color: hsl(0, 0%, 100%);
}
/* MEDIA QUERIES */
@media (min-width: 1440px) {
  .wrapper {
    display: grid;
    grid-gap: 25px;
    grid-template-areas:
      "card1 card1 card2 card3"
      "card4 card5 card5 card3";
    grid-template-columns: 22% auto 25% 22%;
    max-width: 1150px;
    margin: 20px auto;
  }
  .wrapper .card {
    width: 100%;
  }
  .wrapper .card .quote h2 {
    margin: 0.6em 0;
  }
  .wrapper .card1 {
    grid-area: card1;
  }
  .wrapper .card2 {
    grid-area: card2;
  }
  .wrapper .card3 {
    grid-area: card3;
  }
  .wrapper .card4 {
    grid-area: card4;
  }
  .wrapper .card5 {
    grid-area: card5;
  }
}
