.AppWrapper {
  height: 92vh;
  display: grid;
  grid-template-columns: 190px auto;
  transition: 500ms grid-template-columns;
}
.AppWrapper .app {
  background-color: #f3f8fb;
}
.username_wrapper {
  background-color: #f3f8fb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.username_wrapper .username_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 2em;
}
.username_wrapper .username_content form {
  display: flex;
  flex-direction: column;
}
.username_wrapper .username_content input {
  border-radius: 2px;
  border: 1px solid lightgray;
  padding: 1em;
  margin-bottom: 1em;
}
.username_wrapper .username_content button {
  background-color: #7555f8;
  font-weight: bold;
  color: white;
  padding: 0.8em;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
header {
  padding: 0.7em 0;
  background-color: #252932;
}
header h2 {
  color: #eee;
  margin: 0 0;
  margin-left: 1em;
}
header span i {
  color: orangered;
}
#checkbox:checked ~ .AppWrapper {
  height: 92vh;
  display: grid;
  grid-template-columns: 65px auto;
}
#checkbox:checked ~ .AppWrapper nav .nav_username .username {
  width: 45px;
  height: 45px;
  padding: 0.7em;
  font-size: 18px;
  background-color: #127b8e;
}
#checkbox:checked ~ .AppWrapper nav .nav_username h4 {
  visibility: hidden;
}
#checkbox:checked ~ .AppWrapper nav .nav_menu li a span {
  display: none;
}
.AppWrapper nav {
  color: #eee;
  background-color: #21252e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.AppWrapper nav .nav_username {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.AppWrapper nav .nav_username .username {
  background-color: #127b8e;
  padding: 0.8em;
  border-radius: 100px;
  width: 70px;
  text-align: center;
  height: 70px;
  font-size: 25px;
  margin-bottom: 0.7em;
}
.AppWrapper nav .nav_menu {
  padding: 0;
  list-style: none;
  margin: 0;
}
.AppWrapper nav .nav_menu li {
  padding: 15px 23px;
  color: #eee;
  border-bottom: 3px solid #2b2d37;
}
.AppWrapper nav .nav_menu li:hover {
  background-color: #127b8e;
  cursor: pointer;
  color: white;
}
.AppWrapper nav .nav_menu li a {
  font-weight: bold;
  text-decoration: none;
  color: #eee;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 14px;
}
.AppWrapper nav .nav_menu li a i {
  margin-right: 8px;
  font-size: 20px;
}
.AppWrapper nav .nav_logo {
  text-align: center;
  font-size: 20px;
}
.AppWrapper nav .nav_logo i {
  padding: 0.6em;
  text-align: center;
  color: orangered;
  width: 45px;
  height: 45px;
  border: 2px solid orangered;
  border-radius: 100px;
}
