*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Spartan", sans-serif;
}

.wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "section1" "section2" "section3" "section4" "section5";
  -ms-grid-rows: auto 32% auto 27% auto;
      grid-template-rows: auto 32% auto 27% auto;
}

.wrapper .section1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section1;
  position: relative;
}

.wrapper .section1 .mobile_img {
  width: 100%;
}

.wrapper .section1 .desktop_img {
  display: none;
}

.wrapper .section1 nav {
  position: absolute;
  top: 0;
  left: 0px;
}

.wrapper .section1 nav .mobile_nav .menu_open {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.wrapper .section1 nav .mobile_nav .menu_open .menu_icon_open {
  margin-right: 3rem;
  color: gray;
  font-size: 25px;
}

.wrapper .section1 nav .mobile_nav .menu_open ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .section1 nav .mobile_nav .menu_open ul li {
  margin-right: 1.5em;
}

.wrapper .section1 nav .mobile_nav .menu_close {
  color: white;
  padding: 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .section1 nav .mobile_nav .menu_close .menu_icon {
  margin-right: 6rem;
  font-size: 25px;
}

.wrapper .section1 .slider_buttons {
  position: absolute;
  bottom: 4px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
}

.wrapper .section1 .slider_buttons img {
  margin: 1.5em 2.3em;
}

.wrapper .section2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section2;
  background-color: white;
}

.wrapper .section2 .section2_content {
  padding: 0 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .section2 .section2_content h1 {
  font-weight: 600;
  font-size: 2rem;
}

.wrapper .section2 .section2_content p {
  line-height: 1.8;
  color: #a1a1a1;
  margin-top: 1.3em;
  margin-bottom: 3em;
}

.wrapper .section2 .section2_content span.shop_now {
  text-transform: uppercase;
  font-weight: 700;
  color: #454545;
  font-size: 14px;
  letter-spacing: 0.8em;
}

.wrapper .section2 .section2_content span.shop_now:after {
  margin-left: 20px;
  content: url(./images/icon-arrow.svg);
  display: inline-block;
}

.wrapper .section3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: section3;
}

.wrapper .section3 img {
  width: 100%;
}

.wrapper .section4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: section4;
}

.wrapper .section4 .section4_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2em;
}

.wrapper .section4 .section4_content h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

.wrapper .section4 .section4_content p {
  margin: 1em 0;
  line-height: 1.8;
  color: #a1a1a1;
}

.wrapper .section5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section5;
}

.wrapper .section5 img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    -ms-grid-rows: auto 17% auto 17% auto;
        grid-template-rows: auto 17% auto 17% auto;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .wrapper {
    -ms-grid-rows: auto 17% auto 17% auto;
        grid-template-rows: auto 17% auto 17% auto;
  }
}

@media (min-width: 1440px) {
  .wrapper {
        grid-template-areas: "section1 section1 section2" "section3 section4 section5";
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .wrapper .section1 .mobile_img {
    display: none;
  }
  .wrapper .section1 .desktop_img {
    display: block;
    width: 100%;
  }
  .wrapper .section1 .slider_buttons {
    bottom: 0px;
    right: -157px;
  }
  .wrapper .section3 {
    width: 395px;
    background-image: url(./images/image-about-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .wrapper .section3 #about_img {
    display: none;
  }
}
