*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Spartan", sans-serif;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "section1"
    "section2"
    "section3"
    "section4"
    "section5";
  grid-template-rows: 42% 50% auto auto auto;

  .section1 {
    grid-area: section1;
    position: relative;
    .image_slider_container {
      height: 100%;
      position: relative;
      overflow: hidden;
      .image_slider {
        padding: 0;
        list-style: none;
        margin: 0;
        height: 100%;
        position: relative;
        transition: transform 250ms ease-in;
        .image_slide {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    nav {
      position: absolute;
      top: 0;
      left: 0px;
      .mobile_nav {
        // MENU OPEN STATE
        .menu_open {
          background-color: white;
          display: flex;
          padding: 2em 2em;
          align-items: center;
          .menu_icon_open {
            margin-right: 3rem;
            color: gray;
            font-size: 25px;
          }
          ul {
            list-style: none;
            display: flex;
            li {
              margin-right: 1.5em;
            }
          }
        }
        // MENU CLOSE STATE
        .menu_close {
          color: white;
          padding: 2em 2em;
          display: flex;
          align-items: center;
          .menu_icon {
            margin-right: 6rem;
            font-size: 25px;
          }
        }
      }
    }
    .slider_buttons {
      position: absolute;
      bottom: 0px;
      right: 0px;
      display: flex;
      background: black;
      width: 117px;
      img {
        margin: 1.2em auto;
        width: 11px;
        cursor: pointer;
      }
    }
  }
  .section2 {
    grid-area: section2;
    background-color: white;
    .content_slider_container {
      height: 100%;
      position: relative;
      overflow: hidden;
      padding: 2.5em 2em;
      height: 100%;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      .content_slider {
        padding: 0;
        list-style: none;
        margin: 0;
        height: 100%;
        position: relative;
        transition: transform 250ms ease-in;
        .content_slide {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          h1 {
            font-weight: 600;
            font-size: 2rem;
          }
          p {
            line-height: 1.8;
            color: hsl(0, 0%, 63%);
            margin-top: 1.3em;
            margin-bottom: 3em;
          }
          span.shop_now {
            text-transform: uppercase;
            font-weight: 700;
            color: hsl(0, 0%, 27%);
            font-size: 14px;
            letter-spacing: 0.8em;
            &:after {
              margin-left: 20px;
              content: url(./images/icon-arrow.svg);
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .section3 {
    grid-area: section3;
    img {
      width: 100%;
    }
  }
  .section4 {
    grid-area: section4;
    .section4_content {
      height: 100%;
      padding: 2.5em 2em;
      h2 {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 0.5em;
      }
      p {
        margin: 1em 0;
        line-height: 1.8;
        color: hsl(0, 0%, 63%);
      }
    }
  }
  .section5 {
    grid-area: section5;
    img {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-rows: auto 17% auto 17% auto;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    grid-template-rows: auto 17% auto 17% auto;
  }
  @media (min-width: 1440px) {
    grid-template-areas:
      "section1 section1 section2"
      "section3 section4 section5";
    grid-template-rows: auto auto;
    .section1 {
      .slider_buttons {
        bottom: 0px;
        right: -157px;
      }
    }
    .section3 {
      #about_img {
        display: none;
      }
      width: 395px;
      background-image: url(./images/image-about-dark.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}
