*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Spartan", sans-serif;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "section1"
    "section2"
    "section3"
    "section4"
    "section5";
  grid-template-rows: auto 40% 45% auto 45%;
  row-gap: 10px;
  .section {
    background-color: antiquewhite;
  }
  .section1 {
    grid-area: section1;
    position: relative;
    img {
      width: 100%;
    }
    nav {
      position: absolute;
      top: 0;
      left: 0px;
      .mobile_nav {
        // MENU OPEN STATE
        .menu_open {
          background-color: white;
          display: flex;
          padding: 2em 2em;
          align-items: center;
          .menu_icon_open {
            margin-right: 3rem;
            color: gray;
            font-size: 25px;
          }
          ul {
            list-style: none;
            display: flex;
            li {
              margin-right: 1.5em;
            }
          }
          display: none;
        }
        // MENU CLOSE STATE
        .menu_close {
          color: white;
          padding: 2em 2em;
          display: flex;
          align-items: center;
          .menu_icon {
            margin-right: 6rem;
            font-size: 25px;
          }
        }
      }
    }
    .slider_buttons {
      position: absolute;
      bottom: 4px;
      right: 0px;
      display: flex;
      background: black;
      img {
        margin: 1.5em 2.3em;
      }
    }
  }
  .section2 {
    grid-area: section2;
    background-color: white;
    .section2_content {
      padding: 0 3rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-weight: 600;
        font-size: 2rem;
      }
      p {
        line-height: 1.8;
        color: hsl(0, 0%, 63%);
        margin-top: 1.3em;
        margin-bottom: 5em;
      }
      span.shop_now {
        font-weight: 700;
        color: hsl(0, 0%, 27%);
        font-size: 14px;
        letter-spacing: 0.8em;
        &:after {
          margin-left: 20px;
          content: url(./images/icon-arrow.svg);
          display: inline-block;
        }
      }
    }
  }
  .section3 {
    grid-area: section3;
  }
  .section4 {
    grid-area: section4;
  }
  .section5 {
    grid-area: section5;
  }
}
